body {
    text-align: center;
}

h1 {
    background: cyan;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1.5rem;
}

li > * {
    margin-bottom: .5rem;
}

li > a {
    display: block;
}

a {
    font-size: 1.5rem;
}

.date {
    font-size: .9rem;
    font-style: italic;
}